# USAGE
# $ source ./env.sh

export GOOGLE_USER=""
export GOOGLE_PASSWORD=""

export SENDER_CLASS="G3J0AAD-E-a"
export DATE_CLASS="G3J0AAD-mb-Q"
export BODY_CLASS="G3J0AAD-mb-P"

env | grep -e GOOGLE_PASSWORD -e GOOGLE_USER L -e SENDER_CLASS -e DATE_CLASS -e BODY_CLASS 